.navbar {
  height: 50px;
  background-color: #422500;
  border-bottom: 1px solid #965500;
}

.navbar ul {
  list-style: none;
  margin-top: 0;
  margin-left: -40px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  margin: 0;
  padding: 0 2px;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

.navbar a {
   text-decoration: none;
   color: #F2DDB8;
   margin: auto;
}

@media only screen and (min-width: 650px) {
  .navbar ul {
    margin-left: 50%;
  }
}
