.fetchedMonster {
    width: 90%;
    max-width: 200px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.fetchedMonster img {
    max-height: 150px;
    max-width: 150px;
}

.fetchedMonster p {
    margin: 5px auto;
    font-size: 1em;
}

.buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.buttons button {
    margin: 10px;
    width: 40%;
    font-size: 1em;
}