.powerModal {
  width: 100%;
  background-color: white;
  max-width: 500px;
  height: 55vh;
  overflow-y: auto;
}

.powerModal div {margin: 5px;}

.powerForm {
  margin: auto;
  width: 100%;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.powerForm label {
  padding: 5px;
  font-weight: bold;
  flex: 0 0 auto;
}

.powerForm span {
  margin: auto 3px;
}

.shortInput {
  width: 50px;
}

.inputBlock {
  margin: 0 5px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  min-width: 0;
  align-items: center;
}

.inputBlock input[type="text"],
.inputBlock textarea {
  flex: 1 1 auto;
}

.inputBlock p {
  font-size: 1em;
  margin: 0 auto;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}

@media only screen and (min-width: 650px) {
  
  .powerModal {
    height: auto;
    width: 50%;
    max-width: 500px;
    max-height: 65vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
}
