.modalContainer {
  position: fixed;
  height: 80vh;
  width: 80%;
  top: 20%;
  left: 10%;
  padding: 3%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.templates {
  background-color: white;
  width: 45%;
  overflow-y: auto;
}

.templateWrapper {
  margin: 5px;
}

.templateWrapper:hover {
  border: 2px solid teal;
}

.powerModal {
  width: 45%;
  background-color: white;
}

.powerModal div {margin: 5px;}

.powerForm {
  margin: auto;
  width: 60%;
  text-align: left;
}

.inputBlock {
  margin: 0 5px;
  display: flex;
  width: 100%;
  align-items: center;
}

.inputBlock input[type="text"],
.inputBlock select,
.inputBlock textarea {
  flex: 1 1 auto;
}

.powerForm label {
  padding: 5px;
  font-weight: bold;
}

.powerForm span {
  margin: auto 3px;
}

.shortInput {
  width: 50px;
}