.modalContainer {
  position: fixed;
  margin: auto;
  height: auto;
  width: 90%;
  top: 0;
  left: 5%;
  padding: 3%;
  z-index: 100;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.modalContainer h3 {
  margin: 5px;
}

@media only screen and (min-width: 650px) {
  .modalContainer {
    top: 20%;
    flex-flow: row;
  }
}

@media only screen and (min-width: 1100px) {
  .modalContainer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 1400px) {
  .modalContainer {
    width: 60%;
    left: 20%;
  }
}