.landing {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.creationForm {
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
}

.creationForm label {
  padding: 5px;
  font-weight: bold;
}

.creationForm button {
  width: 100%;
  font-size: 1.5em;
  font-weight: bold;
}

.creationForm div {
  margin: 10px auto;
  width: 100%;
  padding: 0 10px;
}

.creationForm input, select {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #422500;
}