:root {
    --darkbrown: #422500;
    --medbrown: #965500;
    --lightbrown: #F2DDB8;
}

.mainBorder {
    border-top: 2px solid var(--medbrown);
    border-left: 2px solid var(--medbrown);
    border-right: 2px solid var(--darkbrown);
    border-bottom: 2px solid var(--darkbrown);
    border-radius: 4px;
    box-shadow: inset 2px 2px var(--darkbrown), inset -2px -2px var(--medbrown);
    background-color: var(--lightbrown);
}

.minorBorder {
    border-top: 2px solid var(--medbrown);
    border-left: 2px solid var(--medbrown);
    border-right: 2px solid var(--darkbrown);
    border-bottom: 2px solid var(--darkbrown);
    border-radius: 3px;
}

.title {
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
  padding: 20px
}

.app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@media only screen and (min-width: 350px) {
  .title {font-size: 3em;}
}

@media only screen and (min-width: 650px) {
  .title {font-size: 4em;}
}